div.modal.fade#customConfirm(tabindex="-1" role="dialog")
    div.modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title Внимание!
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;

            .modal-body
                p.alert-message

            .modal-footer
                button#resolveBtn.btn.btn-primary(type="button") ок
                button#rejectBtn.btn.btn-danger(type="button") отмена
